## Question: 
Can the new bus line improve commuting?

## Null Hypothesis: 

The averagee commute time is the same or longer with the new bus route as it was before

## Alternative Hypothesis:

The average commute time is short with the new bus route than it was before

## Formulated Hypothesis

Tnew = the average commute time with the new bus route

Told = the average commute time before the new bus route is implemented

##### _$H_0$_ : Tnew >= Told

##### _$H_1$_ : Tnew < Told


OR


##### _$H_0$_ : Tnew - Told >= 0

##### _$H_1$_ : Tnew - Told < 0

## Significance Level

I will use a significance level  $\alpha=0.05$, which is 2$\sigma$

which means i want the probability of getting a result at least as significant as mine to be less then 5%

In [1]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/fedhere/PUI2018_fb55/master/Lab4_fb55/times.txt', sep="\n", header=None)

In [2]:
data.head()

           0
0  31.622239
1  32.821376
2  30.229101
3  31.413766
4  39.010550

In [3]:
data.describe()

                0
count  100.000000
mean    34.466162
std      7.137280
min     16.527267
25%     30.020542
50%     34.693057
75%     39.603456
max     48.749877

In [4]:
mu_pop = 36
sigma = 6
mu_sample = 34.47
N = 100
Z = (mu_pop - mu_sample) / (sigma / N**(1/2))

In [5]:
print('The result of Z-test:',Z)

The result of Z-test: 2.550000000000002

### The result of the Z test is about 2.55 which is greater than 2

### The result means that we are more than 2 standard deviations away from the old mean, and we should reject the null hypothesis